@media (min-width: 992px) {

	#playground-dotplot {
		height: 75%;
		min-height: 300px;
	}

	#playground-timeline {
		height: 25%;
		min-height: 150px;
	}
}

@media (max-width: 992px) {
	#playground-timeline {
		height: 100%;
	}

	#playground-dotplot {
		height: 100%;
	}
}

html,
body {
	height: 100%;
}

#doc {
	height: 100%;
	max-height: 900px;
}

h1 {
	font-family: "Merriweather", serif;
	font-weight: 700;
}

:root {
	--bs-btn-bg: #366024;
}

#analyzer {
	width: 100%;
}

#record {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;

}

#record.recording {
	background: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
	background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
	background: radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
}