#welcome {
	max-width: 90%;
	margin: auto;
	text-align: center;
	font-size: 1.25vh;
}

@media (min-width: 992px) and (min-height: 900px) { 
	#doc {
		height: 900px;
	}
}

@media (max-width: 992px) or (max-height: 900px) { 
	#doc {
		height: 100vh;
	}
 }

#controls {
	text-align: center;
}

.form-select {
	display: inline-block;
	max-width: 100px;
}

canvas {
	display: inline-block;
	background: #202020;
	width: 95%;
	max-width: 100px;
	box-shadow: 0px 0px 10px;
}

#record {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	display: inline-block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#record.recording {
	background: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
	background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
	background: radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
}

#viz_container {
	display: inline-block;
	max-width: 100px;
}

#viz {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	height: 150px;
}

#plot {
	width: 50vh;
	max-width: 100vw;
	height: 50vh;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	border: 1px solid black;
	overflow: hidden;
}