#welcome {
	max-width: 90%;
	margin: auto;
	text-align: center;
}

#controls {
	text-align: center;
}

.form-select {
	display: inline-block;
	max-width: 100px;
}

canvas {
	display: inline-block;
	background: #202020;
	width: 95%;
	height: 45%;
	box-shadow: 0px 0px 10px;
}

#record.recording {
	background: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
	background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
	background: radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
}

#viz {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	max-width: 100px;
}

#plot {
	height: 800px;
	max-width: 800px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	border: 1px solid black;
	overflow: hidden;
}